<table class="section header" align="center">
  <%= partial "partials/components/spacer", locals: { height: 40 } %>
  <tr>
    <td>
      <table class="container float-center" align="center">
        <tr>
          <td>
            <p class="image--center">
              <img class="image--inline-block logo" width="300" height="52" src="https://cdn2.hubspot.net/hubfs/3320020/hubspot_email_templates/kajabi_logo.png">
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <%= partial "partials/components/spacer", locals: { height: 40 } %>
</table>
