<table class="section social">
  <%= partial "partials/components/spacer", locals: { height: 60 } %>
  <tr>
    <td>
      <table class="float-center" align="center">
        <tr>
          <td>
            <a class="social__icon-container" href="https://www.twitter.com/kajabi">
              <img width="90" height="78" class="social__icon social__icon--twitter" src="https://cdn2.hubspot.net/hubfs/3320020/hubspot_email_templates/twitter.png" alt="Twitter">
            </a>
          </td>
          <td width="30"></td>
          <td>
            <a class="social__icon-container" href="https://www.facebook.com/kajabi">
              <img width="78" height="78" class="social__icon social__icon--facebook" src="https://cdn2.hubspot.net/hubfs/3320020/hubspot_email_templates/facebook.png" alt="Facebook">
            </a>
          </td>
          <td width="30"></td>
          <td>
            <a class="social__icon-container" href="https://www.youtube.com/user/kajabiapp/videos">
              <img width="96" height="78" class="social__icon social__icon--youtube" src="https://cdn2.hubspot.net/hubfs/3320020/hubspot_email_templates/youtube.png" alt="YouTube">
            </a>
          </td>
          <td width="30"></td>
          <td>
            <a class="social__icon-container" href="https://www.instagram.com/kajabi">
              <img width="78" height="78" class="social__icon social__icon--instagram" src="https://cdn2.hubspot.net/hubfs/3320020/hubspot_email_templates/instagram.png" alt="Instagram">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <%= partial "partials/components/spacer", locals: { height: 60 } %>
</table>
