<table class="hr" align="center">
  <tr>
    <td>
      <table class="container float-center" align="center">
        <tr>
          <td>
            <table class="container text float-center" align="center">
              <tr>
                <td>
                  <div class="hr__line"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
