<table class="section hero" align="center">
  <tr>
    <td>
      <table class="container float-center" align="center">
        <%= partial "partials/components/spacer", locals: { height: 40 } %>
        <tr>
          <td>
            <table class="container text-container float-center" align="center">
              <tr>
                <td>
                  <h1 class="hero__title">She's Our Hero</h1>
                  <h2 class="hero__subtitle">Meet our friend, Michelle.</h2>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <%= partial "partials/components/spacer", locals: { height: 40 } %>
        <tr>
          <td>
            <img class="" width="712" height="400" src="https://futurism.com/wp-content/uploads/2015/08/pixar-up_00382816-1200x675.jpg" alt="Up" />
          </td>
        </tr>
        <%= partial "partials/components/spacer", locals: { height: 40 } %>
      </table>
    </td>
  </tr>
</table>
