<table class="section" align="center">
  <tr>
    <td>
      <table class="container float-center" align="center">
        <tr>
          <td>
            <table class="container text small-cta" align="right">
              <tr>
                <td width="292" class="align-middle small-cta__text">
                  <h2 class="text__title">New Faces</h2>
                  <h3 class="text__subtitle">Same gameplan.</h3>
                  <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.</p>
                  <a class="small-link" href="javascript:void(0);">Meet the team</a>
                </td>
                <td width="60" class="small-cta__spacer"></td>
                <td width="292" class="small-cta__image">
                  <img width="312" height="78" src="https://images-na.ssl-images-amazon.com/images/I/61S6inkUOKL._RI_.jpg" alt="Facebook">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <%= partial "partials/components/spacer", locals: { height: 60 } %>
      </table>
    </td>
  </tr>
</table>
